@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
    --font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

.theme-dark {
    --color-background: #001935;
    --color-text: #ffffff;
    --color-link: #009625;
    --color-contrast: #ffffff;
}

.theme-light {
    --color-background: #ececec;
    --color-text: #000000;
    --color-link: #009625;
    --color-contrast: #ffffff;
}

@media screen and (max-width:412px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em
    }
}

#light_dark {
    display: inline-flex;
}

#lightIcon {
    margin-right: 10px;
}

#darkIcon {
    margin-left: 10px;
}


/* GLOBAL */

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100vh;
    transition: all ease-in-out .7s;
}

main {
    margin: 200px;
}

section {
    margin: 0 auto;
    text-align: center;
}

article {
    text-align: center;
}

h1 {
    color: var(--color-text);
    font-size: 30px;
}

h2 {
    color: #ff0000;
    font-size: 40px;
}

h3 {
    color: #00ff40;
    font-size: 20px;
}

h4 {
    color: #c4c4c4;
    font-size: 20px;
}

h5 {
    color: #ffffff;
}

h6 {
    color: var(--color-text);
}

span {
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
}

table {
    margin: 0 auto;
}

table th {
    color: #c4c4c4;
    font-weight: normal;
    font-size: 20px;
}

table td {
    font-weight: normal;
    color: #ffffff;
    font-size: 20px;
}

a {
    color: var(--color-text);
    padding: 15px;
    text-decoration: none;
}

a:hover {
    color: var(--color-link);
}

p {
    color: var(--color-text);
}

.inactive {
    color: var(--color-text);
    text-decoration: none;
}

.inactive:hover {
    color: var(--color-text);
}

.active {
    color: var(--color-link);
    font-weight: bold;
}

.active:hover {
    color: var(--color-link);
}


/* TRANSITION */

.page {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}


/* SCROLL */

body::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: 20px;
}


/* BUTTON 1 */

.btn1 {
    margin: 10px;
    box-sizing: border-box;
    background-color: #009625;
    border-radius: 0.6em;
    color: #ffffff;
    font-size: 15px;
    line-height: 1;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    box-shadow: none;
    border: none;
    width: 170px;
    height: 40px;
}


/* BUTTON 2 */

.btn2 button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 150px;
    height: 50px;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    background: transparent;
    border: 2px solid #ffbb00;
    color: #ffbb00;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s;
}

.btn2 button:hover:enabled {
    background: #ffbb00;
    color: #000000;
}


/* BOX MODAL */

.boxModal {
    display: inline-block;
    margin: 20px auto;
    background: radial-gradient(ellipse, #303030 0%, #111111);
    border-radius: 30px;
    text-align: center;
    width: 380px;
    height: 100%;
    padding: 20px;
    box-shadow: 0px 2px 10px #000000;
}


/* INFO MODAL */

.button {
    appearance: none;
    border-radius: 0.25em;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    line-height: 3em;
    &:hover {
        color: var(--color-link);
    }
}

.details-modal {
    text-align: center;
    background: var(--color-background);
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(black, 0.2);
    left: 50%;
    max-width: 90%;
    pointer-events: none;
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%);
    width: 30em;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    .details-modal-close {
        align-items: center;
        display: flex;
        height: 4.5em;
        justify-content: center;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 4.5em;
        svg {
            display: block;
        }
    }
    .details-modal-title {
        text-align: left;
        padding: 1.5em 2em;
        pointer-events: all;
        position: relative;
        width: calc(100% - 4.5em);
        h1 {
            font-size: 1.25rem;
            font-weight: 600;
            line-height: normal;
        }
    }
    .details-modal-content {
        border-top: 1px solid #e0e0e0;
        padding: 2em;
        pointer-events: all;
        overflow: auto;
    }
}

.details-modal-overlay {
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    background: rgba(#0f172a, 0.8);
    position: fixed;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    details[open] & {
        pointer-events: all;
        opacity: 0.5;
    }
}

details {
    summary {
        list-style: none;
        &:focus {
            outline: none;
        }
        &::-webkit-details-marker {
            display: none;
        }
    }
}

code {
    line-height: 100%;
    padding: 0.1em 0.4em;
    letter-spacing: -0.05em;
    word-break: normal;
    border-radius: 7px;
    color: var(--color-text);
    font-weight: normal;
    font-size: 1.75rem;
    position: relative;
    top: -2px;
}

.container {
    text-align: center;
    max-width: 40em;
    padding: 2em;
    >h1 {
        font-weight: 700;
        font-size: 2rem;
        line-height: normal;
        color: #111827;
    }
    >p {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    sup {
        font-size: 1rem;
        margin-left: 0.25em;
        opacity: 0.5;
        position: relative;
    }
}

.close-modal {
    fill: var(--color-text);
}